<a href="https://colab.research.google.com/github/mohamedssafini/pima-indians-diabetes/blob/main/DiabetesANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import tensorflow
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
df=pd.read_csv("diabetes.csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
x=df.iloc[:,0:8]
y=df.iloc[:,8]

In [4]:
x.head(2)

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31

[2 rows x 8 columns]

In [5]:
y.head(2)

0    1
1    0
Name: Outcome, dtype: int64

In [6]:
df_model=Sequential()
df_model.add(Dense(64,input_dim=8,activation='sigmoid'))
df_model.add(Dense(32,activation='relu'))
df_model.add(Dense(8,activation='tanh'))
df_model.add(Dense(1,activation='sigmoid'))
df_model.compile(loss='binary_crossentropy',optimizer='adam',metrics='accuracy')

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
df_model.fit(x_train,y_train,epochs=1000,verbose=2,batch_size=20)

In [11]:
# evaluate the model
scores = df_model.evaluate(x, y)
print("%s: %.2f%%" % (df_model.metrics_names[1], scores[1]*100))

24/24 [==============================] - 0s 1ms/step - loss: 0.3928 - accuracy: 0.9023
accuracy: 90.23%